{% extends 'sixthSense/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Register</h1>
    <form method="POST">
        {% csrf_token %}
        
        <!-- User Details -->
        <div class="form-group">
            <label for="username">Username</label>
            {{ user_form.username }}
            {{ user_form.username.errors.as_ul }}
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            {{ user_form.email }}
            {{ user_form.email.errors.as_ul }}
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            {{ user_form.password }}
            {{ user_form.password.errors.as_ul }}
        </div>

        <!-- User Type -->
        <div class="form-group">
            <label for="user_type">User Type</label>
            {{ profile_form.user_type }}
            {{ profile_form.user_type.errors.as_ul }}
        </div>

        <button type="submit" class="btn btn-primary mt-3">Register</button>
    </form>
</div>

{% endblock %}
